@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #3f3f3f;
  border-radius: 1000px;
}
body{
  background-image: none !important;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
}
/* Side Nav Styles */
.side-nav{
  background-color: var(--dark-bg-1);
  width: 20vw;
  height: 100vh;
  padding: 1em;
}
.side-nav .logo-nav{
  display: flex;
  justify-content: center;
}
.side-nav .logo-nav img{
  width: 100px;
}
.side-nav ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2em;
}
.side-nav ul li{
  margin-bottom: 1.2em;
  display: flex;
  align-items: center;
}
.side-nav ul li a{
  font-weight: 600;
  font-size: 1em;
  color: var(--font-white-1);
}
.side-nav ul li i{
  font-size: 20px;
  margin-right: 10px;
  width: 25px;
  color: gray;
}
/* Main Styles */
main{
  width: 80vw;
  height: 100vh;
  background-color: yellow;
}
/* Header Styles */
header{
  width: 100%;
  height: 12%;
  background-color: var(--dark-bg-2);
  display: flex;
  align-items: center;
  padding: 0px 2em;
}
header form{
  width: 50%;
}
header form .input-container{
  position: relative;
}
header form .input-container a{
  position: absolute;
  left: 15px;
  top: 13px;
}
header form .input-container a i{
  font-size: 20px;
  color: var(--font-white-1);
}
header form .input-container input{
  font-size: 0.9em;
  padding: 1em 1em 1em 3em;
  border-radius: 1000px;
  background-color: rgb(43, 43, 43);
  color: var(--font-white-1);
  border: none;
  width: 100%;
}
header form .input-container:hover input{
  outline: 1px solid white;
  background-color: rgb(55, 55, 55);
}
header form .input-container input:focus{
  outline: 2px solid white;
}
header form .input-container input::placeholder{
  color: var(--font-white-1);
}
/* Main Section Styles */
section{
  width: 100%;
  height: 88%;
  background-color: var(--dark-bg-3);
  padding: 2em 0em 2em 2em;
  overflow-y: scroll;
}
section .section-wrapper{
  margin-bottom: 2em;
}
section .section-wrapper h1{
  margin-bottom: 1em;
}
section .section-wrapper .container{
  display: flex;
  overflow-x: scroll;
}
section .section-wrapper .container .card{
  background-color: #7F5AF0 ;
  border-radius: 10px;
  margin-right: 2em;
  padding: 10px;
}

section .section-wrapper .container .card img{
  width: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}
section .section-wrapper .container .card .title{
  font-weight: 600;
  margin-bottom: 10px;
  color: rgb(230, 230, 230);
  overflow-wrap: break-word;
  display: block;
}
section .section-wrapper .container .card .subtitle{
  font-weight: 600;
  font-size: 0.9em;
  color: rgb(190, 190, 190);
  display: block;
}